body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #222;
    color: white;
}

.tcode-head{
    max-width: 100%;
    color:#ffff;
}
.logo{
    color: rgb(0, 0, 0);
    max-width: 500px;
    max-height: 200px;
    width: 100%;
    height: 100%;


}
.b{
    color:white;

}

.manu{
    max-width: 100%;
}
.menu ul li:hover{
    background-color: #222;
    
}

a{
    color: #222;

}
.conntent{
    color: aqua;

}