<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TCODE - TAO CODE</title>
    <link rel="stylesheet" href="../bootstraps/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">


</head>
<body>
    <div class=" container">
        <div class="tcode" >
            <h1>T-CODE</h1>
            <h4>TOI TUONG TU TIM TOI CODE</h3>
        </div>
    <nav  class=" menu navbar navbar-expand-sm bg-light" >
        <ul class="navbar-nav">
               <li class="nav-item">
                   <a class="nav-link" href="#">HOME</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">PLC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PYTHON</a>
                </li>

        </div>
    </nav>
    </div>

</body>
</html>