<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TCODE - TAO CODE</title>
    <link rel="stylesheet" href="../bootstraps/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
    <div class="tcode-head">
        <div class="tcode" >
            <h1>T-CODE</h1>
            <h4>TOI TUONG TU TIM TOI CODE</h3>
        </div>
    <nav  class=" menu navbar-expand-sm bg-light" >
        <ul class="navbar-nav">
               <li class="nav-item">
                    <a class="fas fa-home nav-link" href="#">
                        <b>HOME</b>
                    </a>
               </li>
               <li class="nav-item">
                    <a class="fas nav-link" href="#"><b>PLC</b></a>
                </li>
                <li class="nav-item">
                    <a class=" fas nav-link" href="#"><b>ARDUINO</b></a>
                </li>
                <li class="nav-item">
                    <a class="fas nav-link" href="#"><b>PYTHON</b></a>
                </li>
                <li class="nav-item">
                    <a class="fas nav-link" href="#"><b>JAVA</b></a>
                </li>
                <li class="nav-item">
                    <a class="fas nav-link" href="#"><b>C/C++</b> </a>
                </li>
                <li class="nav-item">
                    <a class="fas nav-link" href="#"><b>PYTHON</b></a>
                </li>
        </div>
    </nav>
    </div>


    <div class="row">
        <div class=" tcode-left-bar col-sm-2">
                <a class="b" href="#">HE LO MAY CUNG</a><br>
                <a class="b" href="#">HE LO MAY CUNG</a><br>
                <a class="b" href="#">HE LO MAY CUNG</a><br>
                <a class="b" href="#">HE LO MAY CUNG</a><br>
                <a class="b" href="#">HE LO MAY CUNG</a><br>
                <a class="b" href="#">HE LO MAY CUNG</a><br>
        </div>
        <div class="col-sm-10">
            RIGHT
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>
            <p>HE LO MAY CUNG</p>

        </div>
            


    </div> 
<script type="text/javascript" src="../js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>